#main{
    background-color: white;
      float: left;
      width: 67%;
      margin-right: 15px;
      
      
    
  }       
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color:grey;
   color: white;
   text-align: right;

}

<div id="main">
                <div class="content"  style="text-align: justify; height:500px;margin-bottom: 100px; margin-left: 20px; margin-top: 20px; margin-right: 35px;">
                    <h1 style="color: rgb(57, 28, 116);"><b>Page Content</b></h1>
                    <span>Lorem ipsb um dolor sit amet consectetur adipisicing elit. Repellendus ut sed sit totam eum itaque, est corrupti nesciunt quidem laboriosam fuga facilis maxime laborum, eligendi officiis commodi natus sunt! Mollitia!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi dignissimos, atque odit ipsa voluptates unde deserunt repellat expedita non soluta quia quo rem temporibus molestias tempore repellendus. Itaque, non.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt sint velit nisi iusto ipsum, provident quibusdam rerum cum dolorum optio unde soluta voluptate aliquam? Explicabo veritatis nesciunt nulla libero?
                    </span><br>
                    <span>Lorem ipsb um dolor sit amet consectetur adipisicing elit. Repellendus ut sed sit totam eum itaque, est corrupti nesciunt quidem laboriosam fuga facilis maxime laborum, eligendi officiis commodi natus sunt! Mollitia!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi dignissimos, atque odit ipsa voluptates unde deserunt repellat expedita non soluta quia quo rem temporibus molestias tempore repellendus. Itaque, non.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt sint velit nisi iusto ipsum, provident quibusdam rerum cum dolorum optio unde soluta voluptate aliquam? Explicabo veritatis nesciunt nulla libero?
                    </span><br>
                    <span>Lorem ipsb um dolor sit amet consectetur adipisicing elit. Repellendus ut sed sit totam eum itaque, est corrupti nesciunt quidem laboriosam fuga facilis maxime laborum, eligendi officiis commodi natus sunt! Mollitia!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi dignissimos, atque odit ipsa voluptates unde deserunt repellat expedita non soluta quia quo rem temporibus molestias tempore repellendus. Itaque, non.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt sint velit nisi iusto ipsum, provident quibusdam rerum cum dolorum optio unde soluta voluptate aliquam? Explicabo veritatis nesciunt nulla libero?
                    </span><br><br>
                    <span>Lorem ipsb um dolor sit amet consectetur adipisicing elit. Repellendus ut sed sit totam eum itaque, est corrupti nesciunt quidem laboriosam fuga facilis maxime laborum, eligendi officiis commodi natus sunt! Mollitia!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi dignissimos, atque odit ipsa voluptates unde deserunt repellat expedita non soluta quia quo rem temporibus molestias tempore repellendus. Itaque, non.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt sint velit nisi iusto ipsum, provident quibusdam rerum cum dolorum optio unde soluta voluptate aliquam? Explicabo veritatis nesciunt nulla libero?
                    </span><br>


                    
                </div>
                <div class="footer">
                    <p style="margin-right: 90px;">copyright @Site name, 20xx</p>
                </div>
                
            </div>
            <div id="side" style="padding:6px ; margin-right: 10px">
                <div class="side-bar" style="text-align:justify;">
                    <h1 style="color:rgb(57, 28, 116)">Aside heading</h1>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint illo error beatae est sequi obcaecati voluptates itaque dolores velit maiores. Aspernatur libero et in consectetur numquam obcaecati quibusdam voluptatibus ipsum?</span>
                </div>
             </div>
            